<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta name="viewport" content="width=devive-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'inkbook/styles.css' %}" />

    <meta charset="UTF-8">
    <title>Inkbook</title>



</head>
<body>

<div class="header">

  <h1>Ink Book</h1>

</div>

  {% block content %}
  {% endblock %}

<footer>
    <center><a href="{% url 'admin:index' %}">Admin Panel</a></center>
</footer>

</body>
</html>
